@{
	ViewBag.Title = "Chart Builder";
}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="/Content/main.css">
	<link rel="stylesheet" href="/Content/jsplumbtoolkit-defaults.css">
	<link rel="stylesheet" href="~/Content/canvasStyle.css">
	<link rel="stylesheet" href="/Content/demo.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/Scripts/jsplumb.js"></script>
	<script src="~/Scripts/Strategies.js"></script>

	@*mxGraph*@
	<script type="text/javascript">
		mxBasePath = '../Scripts/src';
	</script>
	<script type="text/javascript" src="../Scripts/mxClient.js"></script>

	@*goJS*@
	<script src="../Scripts/go-1.7.15.js"></script>

	<script>
		var strategy;
		function runOnLoad() {
			var library = new mxGraphStrategy();
			strategy = new LibraryStrategy();
			strategy.setStrategy(library);
			strategy.Create();
		}
		function AddStart() {
			strategy.AddStart(0, 0, 'Start');
		}
		function AddStop() {
			strategy.AddStop(0, 0, 'Stop');
		}
		function AddDec() {
			strategy.AddDec(0, 0, 'Decision');
		}
		function AddAct() {
			strategy.AddAct(0, 0, 'Action');
		}

		//Ez csak JSPlumb esetén van:
		function DeleteNode() {
			strategy.DeleteNode();
		}
		function EditNode() {
			strategy.EditNode();
		}
	</script>
</head>
<body data-demo-id="flowchart" onload="runOnLoad()">
	<div style="width:100%; white-space:nowrap;">
		<span style="display: inline-block; vertical-align: top; width:100px; visibility:hidden">
			<div id="palette"></div>
		</span>
		<span style="display: inline-block; vertical-align: top; width:80%">
			<div class="jtk-demo-main">
				<div class="jtk-demo-canvas canvas-wide flowchart-demo jtk-surface jtk-surface-nopan" id="canvas">
				</div>
			</div>
		</span>
	</div>

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<span class="close">&times;</span>
			<p></p>
			<button id="modal_editbtn" onclick="EditNode();">Edit</button>
			<button id="modal_deletebtn" onclick="DeleteNode();">Delete</button>
		</div>
	</div>

	<div id="buttons" style="text-align:center; visibility:hidden">
		<button id="startbtn" onClick="AddStart();">Add start</button>
		<button id="stopbtn" onClick="AddStop();">Add stop</button>
		<button onClick="AddAct();">Add action</button>
		<button onClick="AddDec();">Add decision</button>
		<button onclick="Save();">Save</button>
		<button onclick="loadFile();">Load</button>
		<button onclick="ClearCanvas();">Clear</button>
	</div>
</body>
</html>
